{% load news_extra %}

<div style="margin-bottom:3pt; ">
                    {% if item.title %}
                    <span class="title">
                            <a href="{{item.original_url}}">{{item.title}}</a> <span class="smaller">(<a href="{% url 'newest' %}?site={{item.original_url_domain}}">{{item.original_url_domain}}</a>)</span>,
                            🌱 <a rel="ugc" href="{{item.product_url}}">{{item.product_title}}</a> <span class="smaller">(<a href="{% url 'newest' %}?product={{item.product_url_domain}}">{{item.product_url_domain}}</a>)</span>
                    </span>
                    {% endif %}
                    {% if item.text and not hide_text %}
                        {{ item.text | comment_markdown }}
                    {% endif %}
</div>
