
{% extends 'news/__base.html' %}
{% load humanize %}
{% load mptt_tags %}



{% block content %}




<article class="site-content">
    
        <h2>The Zen of {{SITE_NAME}} (aka Guidelines)</h2>

        <p class="smaller">Based on <a href="https://news.python.sc/zen">The Zen of Pythonic News</a>. This website is based on their codebase: <a href="https://github.com/sebst/pythonic-news" target="_blank">https://github.com/sebst/pythonic-news</a></p>

        <p>
        {{SITE_NAME}} is a platform to link products to online discussions.
        </p>
        <p>
        Most of online discussion forums do not allow to post links to your products. These are flagged as self-promotion.
        Here you can freely post your product if you think it is relevant a particular discussion.
        </p>
        <p>
        {{SITE_NAME}} shall enable people to discover, share and discuss interesting products, following up on other online discussions.
        On the platform, anybody shall feel welcomed.
        </p>

        <h3>Beautiful is better than ugly.</h3>
        <p>
        Be beautiful to each other. Always remember, {{SITE_NAME}} is a community around products made by people.
        Please think of a contribution of another member of this community as well-intended. We should all assume
        that people here behave nicely and respectfully. </p>

        <h3>Errors should never pass silently.</h3>
        <p>We value transparency. If there is any action taken by moderators on submissions, comments or user accounts,
        we try to be as clear about what happened as possible. For now, there is no moderation system in place. This means
        that we might be forced to delete contributions silently when we notice off-topic, disrespectful or otherwise abusive
        content without further notice. However, a moderation audit trail is on the roadmap to be implemented soon
        </p>

        <h3>Code of Conduct</h3>
        <p>We all want to be nice to each other. Rude behaviour in form of continiously spamming,
        posting off-topic content, offending people ad-hominem, will result in a ban.</p>
    

</article>






{% endblock content %}