option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: hnclone.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
      /static: static

packages:
  yum:
    postgresql-devel: []

container_commands:
  01_migrate:
    command: "source $(find /var/app/venv/ -name activate) && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source $(find /var/app/venv/ -name activate) && python manage.py collectstatic --noinput"